.login-card {
    margin: auto;
    margin-top: 5%;
}

.btn-custom{
    background-color: #000000 !important;
    color: #ffffff !important;
}

.topic {
    font-size: 36px;
    text-align: center;
    color: rgba(222,63,0,1);
}


.submit-button{
    margin-top: 16px;
    background: rgb(222,63,0);
    background: linear-gradient(90deg, rgba(222,63,0,1) 0%, rgba(233,105,46,1) 35%, rgba(233,218,46,1) 99%);
}

.forgot-password{
    float: right;
} 

@media only screen and (max-width: 600px){
    .forgot-password{
        padding-top: 12px;
    }
}