<ngx-ui-loader></ngx-ui-loader>
<div class="sub-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="title"> Add Menu Category </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="categoryForm">

                            <button mat-raised-button (click)="onFormSubmit(categoryForm.value, false)"
                                [disabled]="categoryForm.invalid && !isUploadedImage" type='button'
                                class="btn pull-right" style="background-color: #3F51B5;" color="primary">{{buttonText}}</button>

                            <button *ngIf="productTypeId > 0" mat-raised-button
                                (click)="deleteCategory(productTypeId)" type='button'
                                class="btn btn-danger pull-right">Delete</button>

                            <button *ngIf="productTypeId > 0" mat-raised-button
                                (click)="onFormSubmit(categoryForm.value, true)" type='button'
                                class="btn pull-right">Duplicate</button>

                            <div class="clearfix"></div>

                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="name" placeholder="Name" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                        <input matInput formControlName="sortingId" placeholder="Order #" type="number"
                                            required>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="description" placeholder="Description"
                                            rows="8"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <input type="file" id="imageName" [ngStyle]="{'display':'none'}"
                                                    (change)="handleFileInput($event.target.files)">
                                                <label for="imageName">
                                                    <p class="addnew">
                                                        <mat-icon class="add-circle">add_circle</mat-icon>
                                                        <u>{{!imageSrc ? 'Add Category Image' : 'Change Category
                                                            Image'}}</u>
                                                    </p>
                                                </label>
                                            </div>
                                            <div class="row imageinput1" id="image-uploader">

                                                <div *ngIf="imageSrc else elseBlock">
                                                    <img width="150" height="150" id="blah"
                                                        src="api/file/download/{{imageSrc}}" alt="Uploaded image" />
                                                </div>
                                                <ng-template #elseBlock><img width="150" height="150" id="blah"
                                                        [src]="imageSrc || 'https://i.imgur.com/yQqPfHK.png'"
                                                        alt="Uploaded image" />
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6> Menus for category to appear in</h6>
                                            <mat-checkbox formControlName="availability">Menu</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <hr>
                            <div class="row" *ngIf="!categoryForm.controls['availability'].value">
                                <div class="col-md-10">
                                    <div class="row">
                                        <h5 class="title"> Menu Category Hours</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="menu-hours-container"
                                                *ngFor="let displayHour of displayHourList; let i = index"
                                                [attr.data-index]="i">
                                                <div class="row day-chip-list">
                                                    <div class="col-md-11">
                                                        <mat-chip-list selectable="true" multiple="true">
                                                            <mat-chip *ngFor="let day of dayList"
                                                                [selected]="checkDaySelected(day.id , i)"
                                                                (click)="day.disabled ? null : onClickDay(i, day.id)"
                                                                [disabled]="day.disabled">
                                                                {{day.name}}&nbsp;
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <mat-icon class="close-icon" (click)="removeWorkingHours(i)">
                                                            cancel</mat-icon>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <mat-form-field>
                                                            <mat-label>Opening Time</mat-label>
                                                            <input type="time" matInput placeholder=""
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="displayHour.startTime"
                                                                (ngModelChange)="changeInputValue(i)">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field>
                                                            <mat-label>Closing Time</mat-label>
                                                            <input type="time" matInput placeholder=""
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="displayHour.endTime"
                                                                (ngModelChange)="changeInputValue(i)">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row table-topic">
                                        <p class="addnew" (click)="addNewMenuHours()">
                                            <mat-icon class="add-circle">add_circle</mat-icon>
                                            <u>Add Category Hours*</u>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>