<ngx-ui-loader></ngx-ui-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Promotions - Merchants</h4>
            <p class="card-category">Configure Promotions - Merchants</p>
          </div>
          <div class="card-body">
            <form [formGroup]="promotionForm" style="display: grid;">

              <mat-form-field>
                <mat-label>Promotion name</mat-label>
                <input matInput formControlName="name" placeholder="Enter promotion name">
                <mat-error>Please enter promotion name</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" placeholder="Enter description">
                <mat-error>Please enter description</mat-error>
              </mat-form-field>

              <mat-list>
                <mat-divider></mat-divider>
              </mat-list>
              <hr>

              <div>
                <h4 class="font-weight-bold">Promotion Image</h4>
              </div>
              <div class="row">
                <div class="col-md-6" id="image-uploader" *ngIf="isNotView">
                  <!-- <input formControlName="imageUrl" type="file" id="file" -->
                  <input type="file" id="file" (change)="handleFileInput($event.target.files)"
                    [ngStyle]="{'color':(!fileUploaded)?'red':'black'}">
                </div>
                <div class="col-md-6" *ngIf="imageSrc">
                  <img id="blah" width="200" height="100" src="api/file/download/{{imageSrc}}" alt="Uploded image" />
                </div>
              </div>

              <mat-list>
                <mat-divider></mat-divider>
              </mat-list>
              <hr>

              <div>
                <h4 class="font-weight-bold">Promotion Details</h4>
              </div>

              <div class="d-flex align-items-center justify-content-md-between row">
                <mat-form-field class="col-md-6" appearance="fill">
                  <mat-label>Select a type</mat-label>
                  <mat-select formControlName="subType">
                    <mat-option *ngFor="let promotion of promotionTypes" [value]="promotion.value">{{promotion.type}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Please select promotion type</mat-error>
                </mat-form-field>
              </div>

              <mat-card *ngIf="promotionForm.controls['subType'].value === 1">
                <div>
                  <h5>Buy & Get Free Item</h5>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>No. of Items</mat-label>
                        <input formControlName="buyItemCount" matInput placeholder="No. of Items">
                        <mat-error>Please enter integer item count</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>No. of Free Items</mat-label>
                        <input formControlName="freeItemCount" matInput placeholder="No. of Free Items">
                        <mat-error>Please enter integer item count</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card>

              <mat-card *ngIf="promotionForm.controls['subType'].value === 2">
                <div>
                  <h5>Spend & Save Money </h5>
                </div>

                <mat-radio-group formControlName="spendAndSaveMoneyOption" class="col-md-6">
                  <mat-radio-button class="col-md-3" [value]="1">
                    Save Credit
                  </mat-radio-button>
                  <mat-radio-button class="col-md-3" [value]="2">
                    Free Item
                  </mat-radio-button>
                </mat-radio-group>

                <div *ngIf="promotionForm.controls['spendAndSaveMoneyOption'].value === 2">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Order Min Amount</mat-label>
                          <input formControlName="minOrderAmount" matInput placeholder="Order Min Amount">
                          <mat-error>Please enter integer order count</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Order Max Amount</mat-label>
                          <input formControlName="maxOrderAmount" matInput placeholder="Order Max Amount">
                          <mat-error>Please enter integer order count</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>No. of Free Items(Min)</mat-label>
                          <input formControlName="minFreeItemCount" matInput placeholder="No. of Free Items(Min)">
                          <mat-error>Please enter integer item count</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>No. of Free Items(Max)</mat-label>
                          <input formControlName="maxFreeItemCount" matInput placeholder="No. of Free Items(Max)">
                          <mat-error>Please enter integer item count</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="promotionForm.controls['spendAndSaveMoneyOption'].value === 1">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Order Min Amount</mat-label>
                          <input formControlName="minOrderAmount" matInput placeholder="Order Min Amount">
                          <mat-error>Please enter integer order count</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Order Max Amount</mat-label>
                          <input formControlName="maxOrderAmount" matInput placeholder="Order Max Amount">
                          <mat-error>Please enter integer order count</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Discount Min Amount</mat-label>
                          <input formControlName="minDiscountAmount" matInput placeholder="No. of Free Items(Min)">
                          <mat-error>Please enter integer item count</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Discount Max Amount</mat-label>
                          <input formControlName="maxDiscountAmount" matInput placeholder="No. of Free Items(Max)">
                          <mat-error>Please enter integer item count</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>

              </mat-card>

              <mat-card *ngIf="promotionForm.controls['subType'].value === 3">
                <div>
                  <h5>Discounts</h5>
                </div>

                <div class="col-md-12">
                  <div class="row">
                    <mat-radio-group formControlName="percentageOption" class="col-md-3">
                      <mat-radio-button class="col-md-3" [value]="1">
                        Percentage
                      </mat-radio-button>

                    </mat-radio-group>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Minimum Discount</mat-label>
                        <input formControlName="minDiscountPercentage" matInput placeholder="Minimum Discount">
                        <mat-error>Please enter valid discount</mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Maximum Discount</mat-label>
                        <input formControlName="maxDiscountPercentage" matInput placeholder="Maximum Discount">
                        <mat-error>Please enter valid discount</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card>


              <br>

              <hr>
              <mat-list>
                <mat-divider></mat-divider>
              </mat-list>
              <hr>

              <mat-checkbox formControlName="allShop" class="col-md-2" (click)="ToggleIsMerchantSet()">All Merchants
              </mat-checkbox>
              <div *ngIf="promotionForm.controls['allShop'].value === false">
                <div class="d-flex align-items-center justify-content-md-between row col-md-8" *ngIf="isNotView">
                  <mat-form-field appearance="fill">
                    <mat-label>Add Merchant</mat-label>
                    <!-- <mat-select [formControl]="merchants" multiple> -->
                    <mat-select multiple>
                      <mat-option (onSelectionChange)="getValues($event)" *ngFor="let merchant of merchantList"
                        [value]="merchant">{{merchant.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="merchantCode" sticky>
                      <th mat-header-cell *matHeaderCellDef> Merchant Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="merchantName">
                      <th mat-header-cell *matHeaderCellDef> Merchant Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="remove" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element">
                        <button *ngIf="isNotView" (click)="removeCustomer(element.id)" type="button" mat-mini-fab
                          class="btn-remove-customer">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="merchantTableColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: merchantTableColumns;"></tr>
                  </table>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                <button *ngIf="!isUpdate && isNotView" mat-raised-button color="primary"
                  [disabled]="!promotionForm.valid || !isMerchantSet"
                  (click)="submitPromotion(promotionForm.value)">Save</button>
                <button *ngIf="isUpdate && isNotView" mat-raised-button color="primary"
                  [disabled]="!promotionForm.valid || !isMerchantSet"
                  (click)="submitPromotion(promotionForm.value)">Update</button>
                <button *ngIf="isNotView" mat-raised-button color="warn" (click)="cancelUpdate()"
                  [ngStyle]="{'margin-left':'10px'}">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>