<h1 mat-dialog-title>Account Information</h1>
<div mat-dialog-content>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Bank</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.bank}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Branch</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.branch}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Account Number</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.accountNumber}}
        </div>
    </div>
    <hr>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->