<div class="row">
    <div class="col-md-6">
        <h1 mat-dialog-title>Account Information</h1>
    </div>
    <div class="col-md-6">
        <button class="pull-right" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
</div>
<div mat-dialog-content>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Bank</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.bank}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Branch</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.branch}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>Account Number</b>
        </div>
        <div class="col-md-6">
            {{shopAccount?.accountNumber}}
        </div>
    </div>
    <hr>
</div>